/*goggle fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Oswald:wght@200;300;400;500;600;700&family=Satisfy&display=swap');
/*asterisk wildcard selector to overide default styled added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*general styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic projekt styles*/
    color: #C0C0C0;
    font-family: 'Lato', sans-serif;

}

/*header*/
header{
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #C0C0C0;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
#menu{
    font-size: 110%;
    font-size: 4px;
    list-style-type: none;
}
#menu > li{
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #ffffff;
}
/*main*/
main{
    background-color: bisque;
    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}
/*footer*/
footer{
    background-color: black;
}