/*goggle fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Oswald:wght@200;300;400;500;600;700&family=Satisfy&display=swap');
/*asterisk wildcard selector to overide default styled added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*general styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic projekt styles*/
    color: #C0C0C0;
    font-family: 'Lato', sans-serif;

}
/*headings and logo*/
#h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #C0C0C0;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    text-align: center;
}
/*header*/
header{
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #C0C0C0;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #C0C0C0;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    
    
}
#menu, #logo{
    line-height: 75px;
}
#menu li {
    float: right;
     margin-right: 30px;
     list-style-type: none;
}
#menu a{
    text-decoration: none;
    color: inherit;
}


#menu a :hover{
    border-bottom: 1px solid #ffffff;
}
.active {
    border-bottom: 1px solid #ffffff;
}
/*navbar styles with dropdown toggle*/
.nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #C0C0C0;
    display: none;
    top: 100%;
    
    

}
.nav li {
    
    font-size: 20px;
    padding: 20px;
}
/*nav-toggle*/
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle{
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}
/*main*/
main{
    
    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}
/*group-section*/
#cover-text, #cover-text h2{
    color: #fff;

}
#cameragirl{
    height: 500px;
    width: 100%;
    background: url("../images/cameragirl.webp") no-repeat center center/cover;
    /*animates zoom effect on loading pages*/
    animation-name: cameragirl-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cameragirl-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
/*Creates the level of zoom for the cameragirl image*/
@keyframes cameragirl-zoom {
    from{
        transform: scale(1);


    }
    to{
transform: scale(1.1);
    }
    
}


/*footer*/
#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}
#social-networks i{
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
/*media query: tablets and larger(768 px and up)*/
@media  screen and (min-width: 768px) {
    /*header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label{
        display: none;
    }
    #logo{
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /*main content*/
    main{
        /*push main content down to accommodate larger header*/
        margin-top: 79px;
    }
    
}
/*larger devices (laptops and desktop, 992px and up)*/
@media  screen and (min-width: 992px){
    #menu a :hover{
        border-bottom: 1px solid #ffffff;
    }
}
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(192,192,192, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}
/*Courses*/
#courses{
    position: center;
    text-align: center;
    color: #C0C0C0;
    background-color: #5C8374;
}
   
   

   
#welcome{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
#photos > img{
    width: 100%;
}
/*media queries*/

/*for larger and smaller screens size from 1200px wide and down*/
@media screen and(min-width:1200px){
   #menu{
    float: left;
    clear: left;
    line-height: 25px;
    margin-bottom: 20px;
   }
   #cover-text{
    left: 0;
   }
   #club-ethos{
    width: 90%;
    margin: 0 auto;
    height: 1200px;
   }

} 
/*Event Times*/
#times{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
overflow: hidden;
}
#times div{
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}
    /*formsection*/

.form-section {
    clear: left;
    background: url(../images/group-photo.webp) no-repeat center center/cover;
    background-size: contain;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: #5C8374;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: #3a3a3a;
    color: #fafafa;
    width: 35%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}


.text-input:hover {
    border-color: #5C8374;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #000000;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #000000;
    color: #5C8374;
}

   
/*For medium screen size 950px and down*/
@media screen and (max-width: 800px){
  #photos{
    column-count: 2;

  }
  #menu > li{
    display: none;
  }
 
}